p.a {
	font-size:50px;
}
p.b {
	font-size:25px;
	color:grey;
}

b {
	color:red;
}

div.a {
	margin: 0;
	width: 50%;
	padding: 10px;
}

button.a {
	background-color: #ae52b7;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 25px;
}

button.b {
	background-color: #c0b2c1;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 25px;
}

button.c {
	background-color: #be74c5;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 25px;
}

#audio{
	display: none
}

#play{
	display: none
}

@media only screen and (max-width: 600px) {
	p.a {
		font-size:70px;
	}
	p.b {
		font-size:35px;
		color:grey;
	}
	button.a {
		background-color: #2dc3bf;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 32px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 25px;
	}
	button.c {
		background-color: #6cd5d2;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 32px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 25px;
	}
}
